*,
:root,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    box-sizing: inherit;
    height: 100%;
}

.game-grid{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid-box  {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: blue;
}

.apple {
background-color: purple;
}